<!DOCTYPE html>
<html>
    <body>
        <style>
            .center {
                margin-left: auto;
                margin-right: auto;
                text-
            }
        </style>
        <h>FORM</h>
        <form action='' method="POST" class="center">
            {% csrf_token %}
            <table>
                {{form}}
            </table>
            <input type='submit' value='submit'>
        </form>
        <br>
        <a href='data/'><b>Data</b></a>
    </body>
</html>